/*Importamos fuentes de googgle*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Configuramos los valores por defecto la css*/
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


body {
    background-color: #3c3f3f77;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cabezal {
    margin: 20px;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(111, 48, 40) solid;
    text-align: center;
    border-style: dashed;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.cabezal h1 {
    font-size: 30px;
    color: #913131;

}

h2 {
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;

}


.cabezal p {
    font-size: 15px;
}



div {
    color: aquamarine;
}

.highlight {
    color: red;
}

#special {
    border: 3px solid cyan;
    box-shadow: 0px 0px 15px cyan,
        0px 0px 15px cyan inset;
    color: rgb(69, 150, 226);
    background-color: rgb(88, 30, 30);
    border-radius: 8px;
}

#special:hover {
    border: 3px solid #39FF14;
    box-shadow: 0px 0px 15px #39FF14,
        0px 0px 15px #39FF14 inset;
    color: white;
    font-weight: bold;
    background-color: rgb(63, 60, 60);
    border-radius: 8px;
}



.box {
    background-color: #302b2b;
    border: 2px solid #FF10F0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #FF10F0,
    0px 0px 15px #FF10F0 inset;
}


.box:hover { 
    transform: scale(1.04); 
}


.content{
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #1b1818;
    border: 3px solid cyan;
    border-radius: 10px;
    box-shadow: 0px 0px 15px cyan;
}

.visual-efects {
    border: 3px solid #FF10F0,;
    padding-top: 20px;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0px 0px 15px #FF10F0
}


.fixed-box {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    padding: 10px;
}

#texto{
    color: #000;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.rotate-box {
    
    width: 100px;
    height: 100px;
    background-color: yellow;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px #c2ff05,
        0px 0px 15px green inset;
    margin: 40px;
    padding-top: 30px;
}

.rotate-box:hover {
    transform: translateX(10px);
    transform: rotate(45deg);
}



a:hover {
    color: white;
    text-decoration: underline;
}

.box::before {
    content: "New ";
    color: red;
    font-weight: bold;
}

.other-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.interactivity {
    margin: 20px;
    box-sizing: content-box;
    padding: 10px 20px;
    background-color: #1b1818;;
    border: 3px solid #c2ff05 ;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #c2ff05;
}



.fade-in {
    animation: fade 2s ease-in-out;
    width: 150px;
    height: 125px;
    background-color: rgb(7, 156, 248) ;
    box-sizing: border-box;
    border-radius: 80%;
    border-color: #3b94d4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 50px;    
    box-shadow: 0px 0px 15px #00ff2e,
        0px 0px 15px #c2ff05 inset;
}

.fade-in:hover{
    background-color: #1e82c9;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transform: scaleX(1.1); 
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


footer p{
    margin: 30px 100px;
    padding-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    font-style: italic;
    font-size: small;
}